html {

background: #93B993;


}


h5 {
color: #F523F5;
font-family: sans-serif;
font-weight: normal;
}
h3 {
font-weight: normal;
color: #F523F5;
position: absolute;
top: 550px;
left:430px;
font-family: sans-serif;
font-size: 100px;
}
.container {
	position: absolute;
	position: top: 10px;
	position: left: 30px;
display: flex;
text-decoration: none;
white-space: nowrap;
letter-spacing: 230px;
line-height: 0px;
}


p,a {
color: #707070;
font-family: sans-serif;	
text-decoration: none;
font-size: 300px

}



}

