html {

background: lightpink;


}

h1 {
color: darkblue;
font-weight: normal;
background: hotpink;	
align-content: center;
}
h2 {

font-weight: normal;
color: hotpink;
align-content: center;
}

p {

color: hotpink;
background: pink;

}