html {
background: #F523F5;
}
body{
	background: #F523F5;
	padding:20px;
	padding-top: 0px;
	font-size: 16px;

}




p {

color: #707070;
font-weight: bold;
font-family: sans-serif, bold;
font-size: 8rem;

}

.container {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 768px) {
	p {

		font-size: 10em;
		color: #707070;
		padding: 20px;
		padding-top: 0px;
	}

	}
}

@media screen and (max-width: 1024px) {
	p {
		font-size: 11em;
		
	}
}