html {

	background: lightpink;

}

.calandar {
	height: 80%;
	border: 20px solid black;


}
.week0 {
	width: 100%;
	height: 200px;
	background: red;

}

.week1 {
	width: 100%;
	height: 200px;
	background: orange;

}
.week2 {
	width: 100%;
	height: 200px;
	background: lightblue;

}.week3 {
	width: 100%;
	height: 200px;
	background: pink;

}.week4 {
	width: 100%;
	height: 200px;
	background: lightgreen;

}
.day {


}