html {
background: white;
}
body{
	background: white;
	padding:20px;
	font-size: 16px;
	letter-spacing: 10px;
	padding: 100px;
	padding-top: 20px;
	align-content: center;

}




p {

color: black;
font-size: 18px;
font-kerning: 5px;
font-family: sans-serif;

}

.container {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 768px) {
	p {

		font-size: 32px;
		color: black;
		padding: 200px;
		padding-top: 30px;
		letter-spacing: 15px;
	}

	}
}

@media screen and (max-width: 1024px) {
	p {
		font-size: 4em;
		
	}
}