html {
	background: lightpink;
}

h1 {
	color: darkblue;
	background: pink;
	font-weight: normal;
}

h2 {
	background: pink;
	font-weight: normal;
	color: hotpink;
}

p {
	color: hotpink;
	background: pink;
}