html {
	background: none;
}
body{
	background: none;
	font-size: 16px;
	padding: 150px;
	line-height: 70px;
}

p {
	color: black;
	font-size: 1rem;
	font-family: serif;
}

.container {
	display: flex;
	flex-direction: column;
}


.mark{
	color: #F523F5;
	font-size: 700px;
	font-family: sans-serif;
	line-height: 0;
	z-index:-1;
	position: fixed;
	left: 612px;
	top: -300px;	
}

.top {
	display: flex;
	flex-direction: rows;
	position: absolute;
	top-position: 10px;
	text-transform: uppercase;
	color: black;
	font-size: 1rem;
	font-family: sans-serif;
}

@media screen and (min-width: 768px) {
	p {
		font-size: 2em;
		color: black;
		padding: 200px;
		line-height: 70px
	}
}

@media screen and (max-width: 1024px) {
	p {
		font-size: 4em;
		
	}
}