html, body {
	background-color: black;
}


.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}


.text{
	transform: rotate(-15deg);
	top: 70px;
	position: relative;
	top: 150px;
	left: 70px;
}

.text:hover {
	transform: rotate(-7deg);
}

.inside {
	font-size: 30px;
}

a {
	font-size: 25px;
	text-decoration: none;
}

a:hover {
	font-style:  italic;
}

a:visited {
	text-decoration: none; color: #0020e4;
}

p:hover {
	font-size: 31px;
}


h1 {
	color: yellow;
	font-size: 55px;
	font-family: serif;
	letter-spacing: -0px;
	font-style: italic;
	letter-spacing: 1px;
	
}
h2 {
	color: yellow;
	font-size: 20px;
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: -0px;
	
	
}


h3
{
	padding-left: 20px;
	color: yellow;
	font-size: 20px;
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: -0px;
	align-items: center;
	
}

img {
	width: 100%;

}

p {
	color: #0020e4;
	size: 70px;
}

#emotions{
	border-style: solid;
	border-color: yellow;
	border-width: 5px;
}


#thoughts{
	border-style: solid;
	border-color: yellow;
	border-width: 5px;
	width: 60%;
}


#songs{

	border-style: solid;
	border-color: yellow;
	border-width: 5px;
	width: 60%;
}

#happy{
	border-style: solid;
	border-color: yellow;
	border-width: 5px;
	width: 60%;

}

#people{
	border-style: solid;
	border-color: yellow;
	border-width: 5px;
	width: 60%;
}

#things{
	border-style: solid;
	border-color: yellow;
	border-width: 5px;
	width: 50%;

}

#worries{
	border-style: solid;
	border-color: yellow;
	border-width: 5px;
	width: 60%;
}

#memories{
	border-style: solid;
	border-color: yellow;
	border-width: 5px;
	width: 60%;
}

#advice{
	border-style: solid;
	border-color: yellow;
	border-width: 5px;
	flex-shrink: 2;

}

@media screen and (max-width: 1024px) {
 	h1 {
 		font-size: 40px;
 	}

 	h2 {
 		font-size: 14.5px;

 	}

 	h3 {
 		font-size: 14.5px;
 	}

 	a {
 		font-size: 18px;
 	}


 	p {
 		font-size: 21.8px;

 	}

 	p:hover {
		font-size: 21.6px;
 	}

 	.text{
 		position: relative;
 		top: -12px;
 		left: 10px;
 		transform: rotate(-10deg);
 	}

 	.text:hover {
 		transform: rotate(-4deg);

 	}

}


















