html {
	background: lightpink;
}


p {
	padding: 30px;
	color: hotpink;
	font-size: 95px;
	font-family: sans-serif;
	text-transform: uppercase;


}

p:hover {
	transform: translateX(80px);
	transform: translateY(80px);
	transform: rotate3d(0, 1, 0, 60deg);

}