html, body {
	background-color: white;
}

h1 {
position: absolute;
width: 319px;
height: 78px;
left: 32px;
top: 15px;

font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 80px;

color: darkblue;
}

h2 {
position: absolute;
width: 1416px;
height: 46px;
left: 12px;
top: 610px;

font-family: sans-serif;
text-transform: uppercase;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 56px;

color: darkblue;


}


a {
position: absolute;
width: 173px;
height: 93px;
left: 32px;
top: 100px;

font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 45px;

color: darkblue;
}





cookie. {
position: absolute;
width: 397px;
height: 369px;
left: 550px;
top: 211px;
}

