
a {

position: absolute;
right: 55px;
top: 30px;

font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 80px;
text-transform: uppercase;
text-decoration: none;

color: darkblue;
}

button:focus {
        outline: none;
    }

html, body {
	background-color: white;
}

img {
	width: 400px;


}

#about {
position: absolute;
right: 55px;
top: 85px;

font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 80px;
text-transform: uppercase;
text-decoration: none;

color: darkblue;
}

a:hover {
  font-size: 25px;


}

h2 {
position: absolute;
width: 1416px;
height: 46px;
left: 12px;
top: -30px;

font-family: sans-serif;
text-transform: uppercase;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 56px;

color: darkblue;

}

button {
background: transparent;
border-color: transparent;
}




.center {
  display: block;
  width: 300px;
  left: 50%;
  top: 30%;
  position: absolute;
  transform: translate(-50%);
}

.center:hover {
	cursor: pointer;

}









.cookie {
position: absolute;
width: 397px;
height: 369px;
left: 550px;
top: 211px;
}

