button:focus {
        outline: none;
    }

html, body {
	background-color: black;
}

h1 {
  position: absolute;
  width: 319px;
  left: 32px;
  top: 100px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 80px;
  color: white;
}

input {
  border: 10px;
  width: 80%;
  height: 10%;
  left: 50%;
  top: 30%;
  position: absolute;
  transform: translate(-50%);

}

input:focus {
  background: white;
  outline:0;
}


