html {
background: white;
}
body{
	background: red;
	padding:0px;
	margin: 0px;
	font-size: 16px;


}

.mark{
color: #F523F5;
	font-size: 700px;
	font-family: sans-serif;
	z-index:-1;
	position: fixed;
	left: 50%;
	top:50%;
	transform: translate(-50%);



}

p {

color: black;
font-weight: bold;
font-family: sans-serif, bold;
font-size: 8rem;
text-transform: uppercase;
z-index: 2;

}

.container {
}

/*.top {

	display: flex;
	flex-direction: rows;
	position: absolute;
	top-position: 10px;
	text-transform: uppercase;
	color: black;
	font-size: 1rem;
	font-family: sans-serif;

}*/

/*@media screen and (min-width: 768px) {
	p {

		font-size: 10em;
		color: black;
		padding: 20px;
		padding-top: 0px;
	}

	}
}

@media screen and (max-width: 1024px) {
	p {
		font-size: 11em;
		
	}
}*/