html {
background:  none;
}
body{
	background: none;
	padding:20px;
	font-size: 10px;
	line-height: 2rem;

}




p {

color: black;
font-size: 18px;
line-height: 0.5rem;
font-family: monospace;

}

.container {
	display: flex;
	flex-direction: column;
}

.mark{
color: #F523F5;
	font-size: 700px;
	font-family: sans-serif;
	line-height: 0;
	z-index:-1;
	position: fixed;
	left: 512px;
	top: 0;	
}


.top {

	display: flex;
	flex-direction: rows;
	position: absolute;
	top-position: 10px;
	text-transform: uppercase;
	color: black;
	font-size: 1rem;
	font-family: sans-serif;

}

@media screen and (min-width: 768px) {
	p, a {

		font-size: 3em;
		color: black;
	}
	h1 {
		color: #F523F5;
	font-size: 300px;
	font-family: sans-serif;
	line-height: 0;
	z-index:-1;
	position: fixed;
	left: 250px;
	top: 0;	

	}

	}
}

@media screen and (max-width: 1024px) {
	p {
		font-size: 4em;
		
	}
}