html {
background: white;
}
body{
	background: white;
	padding:20px;
	font-size: 10px;
	line-height: 2rem;

}




p {

color: black;
font-size: 18px;
line-height: 0.5rem;
font-family: monospace;

}

.container {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 768px) {
	p {

		font-size: 3em;
		color: black;
	}

	}
}

@media screen and (max-width: 1024px) {
	p {
		font-size: 4em;
		
	}
}